{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Properties Page</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114.png' %}">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/nivo-lightbox/nivo-lightbox.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/nivo-lightbox/default.css' %}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="{% url 'index' %}">Vatansever <span class="estate">Gayrimenkul</span></a>
      <div class="phone"><span>Call Today</span>+90 552 433 6981</div>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'whoAreWe' %}#about" target="_blank" class="page-scroll">About</a></li>
        <li><a href="{% url 'whoAreWe' %}#services" target="_blank" class="page-scroll">Services</a></li>
        <li><a href="#contact" class="page-scroll">Contact</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
</nav>
<!-- Header -->
<Header id="search">
 <div class="south-search-area">
  <div class="container">
    <div class="row">
     <div class="col-12">
			<div class="section-title">
				<h2 style="margin-top:30px">SEARCH FOR YOUR HOME</h2>
				<p>Fill out the form below to search the features You want.</p>
			</div>

<!-- Search Form -->
  <div class="advanced-search-form">
		<form action="." method="GET" id="advanceSearch">
        {% csrf_token %}
					<div class="row">
						<div class="col-12 col-md-4 col-lg-4">
							 <div class="form-group">
                  {% render_field myFilter.form.addressName type="text" class="form-control" autocomplete="off" id="address" name="input" placeholder="Address, City, Zip code" %} 
							 </div>
						</div>
						
						<div class="col-12 col-md-4 col-lg-4">
							<div class="form-group">
               {% render_field myFilter.form.city class="form-control" id="cities" %}
							</div>
						</div>
						
						<div class="col-12 col-md-4 col-lg-4">
              <div class="form-group">
                {% render_field myFilter.form.Type id="type" class="form-control" id="sale-rent" %}
              </div>
						</div>
						  
				   <div class="col-12 col-md-4 col-lg-2">
              <div class="form-group">
               {% render_field myFilter.form.price__gte type="number" min=0 name="min_price" class="form-control price" id="listings" placeholder="Min Price" %}              
              </div>
            </div>

            <div class="col-12 col-md-4 col-lg-2">
              <div class="form-group">
               {% render_field myFilter.form.price__lte type="number" min=0 name="min_price" class="form-control price" id="listings2" placeholder="Max Price" %}              
              </div>
            </div>

		  			<div class="col-12 col-md-4 col-lg-4">
             <div class="form-group">
              {% render_field myFilter.form.bedrooms class="form-control" id="bedrooms" %}
             </div>
						</div>
						
						<div class="col-12 col-md-4 col-lg-4">
              <div class="form-group">
                {% render_field myFilter.form.bathrooms class="form-control" id="bathrooms" %}
              </div>
						</div>
					</div>

			<div class="row">
				<div class="col-md-12 search-button">
					<button type="submit" class="search-button btn btn-custom btn-lg">Search</button>
         <button type="button" onclick="customReset();" class="search-button btn btn-custom btn-lg" style="background-color:black" value="Reset">Reset</button>
				</div>
			 </div>
      </form>
	   </div>
    </div>
	 </div>
	</div>
 </div>
</Header>

<!-- Available houses Section -->
<div id="services">
  <div class="container">
    <div class="section-title-buy">
      <h2>FEATURED PROPERTIES</h2>
    </div>
    <div class="row">
    
    <!-- Single Featured Property -->
    {% for home in home %}
    <div class="col-12 col-md-4 col-xl-4">
        <div class="single-featured-property mb-50 wow fadeInUp"data-wow-delay="100ms">                      
                        <!-- Property Thumbnail -->
                        <div class="property-thumb">
                            <img src="{{ home.image.url }}" height="280" alt="image">
                               <div class="tag">
                                  <span>{{ home.Type }}</span>
                                </div>
                               <div class="list-price">
                                  <p>₺ {{ home.price }}</p>
                              </div>
                        </div>
                        <!-- Property Content -->
                        <div class="property-content">
                            <h5>{{ home.title }}</h5>
                             <a class="location" target="_blank">
                              <img src="{% static 'img/icons/location.png' %}" alt="img">{{ home.address }}
                             </a>
                         <p class="location" color="black">Property No: {{ home.home_number }}</p>
                          <p class="  ">{{ home.bedrooms }} Bedrooms <span>|</span> {{ home.bathrooms }} Bathrooms </p>
                          <p>{{ home.description }}</p>
                      </div>
                  </div>
               </div>
     {% endfor %}  
       </div>
      </div>
     </div>
<!-- Contact Section -->
<div id="contact">
  <div class="container">
    <div class="col-md-8">
      <div class="row">
        <div class="section-title">
          <h2>Get In Touch </h2>
          <p>Please fill out the form below to send us an email and we will get back to you as soon as possible.</p>
        </div>
        <form action="{% url 'ajaxForm' %}" id="contactForm" method="POST" name="sentMessage"  novalidate>
          {% csrf_token %}   
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {% render_field form.name type="text" name="userName" id="name" class="form-control" placeholder="Name" required="required" %}
                <p class="help-block text-danger"></p>  
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {% render_field form.email type="email" name="userEmail" id="email" class="form-control" placeholder="Email" required="required" %}
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>
          <div id="ajaxMessage" class="form-group">
            {% render_field form.message name="message" id="userMessage" class="form-control" rows="4" placeholder="Message" %}
          </div>
          <div id="show_message">
          </div>
         <button type="submit" value="Submit" class="btn btn-custom btn-lg">Send Message</button> 
       </form>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-1 contact-info">
      <div class="contact-item">
        <h4>Contact Info</h4>
        <p><span>Address</span>Girne Mh. Girne Bul. No: 06<br>
         Aydin, Efeler</p>
      </div>
      <div class="contact-item">
        <p><span>Phone</span> +90 552 433 6981</p>
      </div>
      <div class="contact-item">
        <p><span>Email</span> abo.tim@hotmail.com</p>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="social">
          <ul>
            <li><i class="fa fa-facebook"></i></li>
            <li><i class="fa fa-twitter"></i></li>
            <li><i class="fa fa-google-plus"></i></li>
            <li><i class="fa fa-youtube"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer Section -->
<div id="footer">
  <div class="container text-center">
    <p>&copy; 2023 HHMESTATE. Design by <span>Abdullah ABUTAYYEM</span></p>
  </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery.1.11.1.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/SmoothScroll.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/nivo-lightbox.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/jqBootstrapValidation.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script>
function customReset()
{
    document.getElementById("address").value = "";
    document.getElementById("type").value = "";
    document.getElementById("cities").value = "";
    document.getElementById("listings").value = "";
    document.getElementById("listings2").value = "";
    document.getElementById("bedrooms").value = "";
    document.getElementById("bathrooms").value = "";
}
</script>
<script type="text/javascript" src="{% static 'js/contactAjax.js' %}"></script>
</body>
</html>