{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Client Service</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114.png' %}">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/nivo-lightbox/nivo-lightbox.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/nivo-lightbox/default.css' %}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="{% url 'index' %}">Vatansever <span class="estate">Gayrimenkul</span></a>
      <div class="phone"><span>Call Today</span>+90 552 433 6981</div>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'whoAreWe' %}#about" target="_blank" class="page-scroll">About</a></li>
        <li><a href="{% url 'whoAreWe' %}#services" target="_blank" class="page-scroll">Services</a></li>
        <li><a href="#contact" class="page-scroll">Contact</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
</nav>
<!-- Header -->
<Header id="services-client">
 <div class="south-search-area">
  <div class="container">
    <div class="row">
     <div class="col-12">
			<div class="section-title-client">
				<h2 style="margin-top:100px">SELL OR RENT YOUR PROPERTY</h2>
				<p>If you have a property in Antalya, Belek, Kemer, Alanya, Kalkan, Bursa, Trabzon, Istanbul or Yalova and want to sell it, get in touch with us today. As one of the most respected estate agents in Turkey, we have 14 years’ experience in buying and selling homes.</p>
			</div>
   
			<div class="row">
				<div class="col-md-12 search-button">
					<a style="margin-top:-50px" href="#contact" class="search-button btn btn-custom btn-lg page-scroll">CONTACT US NOW!</a> 
				</div>
			</div>
	   </div>
      </div>
	 </div>
	</div>
</header>

<!-- Available houses Section -->
<div id="services-client">
  <div class="container">
    <div class="section-title-buy">
      <h2 style="margin-top:100px">Procedures for Selling a Property in Turkey</h2>
    </div>
       <div class="row">
         	<div class="col-12 col-md-12 col-xl-4">

                  <p>1. We need to see all relevant documents related to your apartment or villa including the title deeds, and habitation certificate. At the time of selling, the home must be debt free, for the land registry office to allow the transaction, so make sure all taxes are up to date, and bank loans and/or mortgages are paid in full.</p>
                 
                  <p>2. We will come and see the property to give a realistic selling price. To maximise your profit, and makes your home more marketable, complete all maintenance jobs and paint the interior if needed.</p>
                 
                  <p>3. If we mutually agree to market your home, we will take photos and add it to our website. You will need to make yourself available for viewing trips, sometimes at short notice. If you don’t live in Turkey, leave the keys with a trusted holder for us to contact them instead.</p>
                 
                  <p>4. Upon finding a buyer, we will arrange the entire process and keep you updated throughout including the deposit stages and signing over the deeds.</p>

                  <h3>What is the cost of selling my property?</h3>

                  <p>If you have owned the property for five years or more, you are exempt from income tax. We charge estate agent fees for completing the process, and you will also need to fund individual costs like making sure all bills are paid up to date.</p>

                  <p>For more information and details on how to sell your property in Turkey, fill in the form on the left-hand side, and a sales representative will get in touch with you. Alternatively, email a copy of your title deeds, photos and further information to manager@hhmestate.com</p>

         </div>
      </div>
   </div>
</div>
<!-- Contact Section -->
<div id="contact">
  <div class="container">
    <div class="col-md-8">
      <div class="row">
        <div class="section-title">
          <h2>Get In Touch </h2>
          <p>Please fill out the form below to send us an email and we will get back to you as soon as possible.</p>
        </div>
        <form action="{% url 'ajaxForm' %}" id="contactForm" method="POST" name="sentMessage"  novalidate>
          {% csrf_token %}   
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {% render_field form.name type="text" name="userName" id="name" class="form-control" placeholder="Name" required="required" %}
                <p class="help-block text-danger"></p>  
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {% render_field form.email type="email" name="userEmail" id="email" class="form-control" placeholder="Email" required="required" %}
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>
          <div id="ajaxMessage" class="form-group">
            {% render_field form.message name="message" id="userMessage" class="form-control" rows="4" placeholder="Message" %}
          </div>
          <div id="show_message">
          </div>
         <button type="submit" value="Submit" class="btn btn-custom btn-lg">Send Message</button> 
       </form>     
      </div>
    </div>
    <div class="col-md-3 col-md-offset-1 contact-info">
      <div class="contact-item">
        <h4>Contact Info</h4>
        <p><span>Address</span>Girne Mh. Girne Bul. No: 06<br>
         Aydin, Efeler</p>
      </div>
      <div class="contact-item">
        <p><span>Phone</span> +90 552 433 6981</p>
      </div>
      <div class="contact-item">
        <p><span>Email</span> abo.tim@hotmail.com</p>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="social">
          <ul>
            <li><i class="fa fa-facebook"></i></li>
            <li><i class="fa fa-twitter"></i></li>
            <li><i class="fa fa-google-plus"></i></li>
            <li><i class="fa fa-youtube"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer Section -->
<div id="footer">
  <div class="container text-center">
    <p>&copy; 2023 HHMESTATE. Design by <span>Abdullah ABUTAYYEM</span></p>
  </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery.1.11.1.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/SmoothScroll.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/nivo-lightbox.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/jqBootstrapValidation.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

<script type="text/javascript" src="{% static 'js/contactAjax.js' %}"></script>

</body>
</html>